@import './variables.scss';
@import 'bootstrap/scss/bootstrap';

.siasarSdg {
  background-color: #D93C40;
  border-radius: 10%;
}

.sdgTitle {
  margin-bottom: 30px;
}

.descriptions div.card{
  margin-bottom: 10px;
}


.data-map {
  margin-top: 10px;
}

.sidebar-nav {
    border-top: 2px solid #b3b3b3;
    margin-top: 2em;
    padding-top: 2em;
}
